{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "rules": {
    "no-unused-vars": 1,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["src/setupEnzyme.js"]}]
  },
  "globals": {
    "window": true,
    "navigator": true,
    "document": true
  }
}
