{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react", "plugin:jest/recommended"],
  "rules": {
    "no-unused-vars": 1,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["src/__tests__/**/*.jsx", "src/setupEnzyme.js"]
      }
    ],
    "react/jsx-props-no-spreading": "off"
  },
  "globals": {
    "window": true,
    "navigator": true,
    "document": true
  },
  "plugins": ["jest"]
}
